@model IEnumerable<AspPoistenieBK02.Models.UserModel>

@{
    ViewData["Title"] = "Index Uzivatel";
}

<div class="container-lg justify-content-center">
    <!--alerty-->
    @if (TempData["CreateMsg"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <!--<span aria-hidden="true">&times;</span> -->
                </button>
            <strong>@TempData["CreateMsg"]</strong>
        </div>
    }
    @if (TempData["EditMsg"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <!--<span aria-hidden="true">&times;</span> -->
                </button>
            <strong>@TempData["EditMsg"]</strong>
        </div>
    }
    @if (TempData["DeleteMsg"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <!--<span aria-hidden="true">&times;</span> -->
                </button>
            <strong>@TempData["DeleteMsg"]</strong>
        </div>
    }


    <p>
        <a class="btn btn-success" asp-action="Create">Nový užívateľ</a>
    </p>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id) <!--toto prepis na meno-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName) <!--toto prepis na meno-->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserAdress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr style="vertical-align:middle">
                        <th>
                            @Html.DisplayFor(modelItem => item.Id)
                        </th>
                        <td>
                            @(item.ToString())
                        </td>
                        <td>
                            @(item.GetUserAdress())
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn my-btn-warning" asp-action="Details" asp-route-id="@item.Id">@StringCommon.sc004_Details</a>
                                <a class="btn my-btn-info" asp-action="Edit" asp-route-id="@item.Id">@StringCommon.sc005_Edit</a>
                                <a class="btn my-btn-danger" asp-action="Delete" asp-route-id="@item.Id">@StringCommon.sc006_Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!--
        <nav aria-label="Stránkování">
            <ul class="pagination">
                <li class="page-item disabled">
                    <span aria-hidden="true" class="page-link">&laquo;</span>
                </li>
                <li class="page-item active "><a class="page-link" href="#">1</a></li>
                <li class="page-item "><a class="page-link" href="#">2</a></li>
                <li class="page-item "><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
        -->
    </div>
</div>
