@model IEnumerable<AspPoistenieBK02.Models.InsuranceModel>

@{
    ViewData["Title"] = "Index Poistenie";

}

<div class="container-lg justify-content-center">
    <p>
        <a class="btn btn-success disabled" asp-action="Create">Nové poistenie</a>
    </p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @(StringCommon.sc017_Client)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InsuranceType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ValidTo)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        <!-- item.GetClientName(item.id)-->
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InsuranceType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValidTo)
                    </td>
                    <td>
                        @(item.GetValidState())
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn my-btn-warning" asp-action="Details" asp-route-id="@item.Id">@StringCommon.sc004_Details</a> 
                            <a class="btn my-btn-info"    asp-action="Edit"    asp-route-id="@item.Id">@StringCommon.sc005_Edit</a> 
                            <a class="btn my-btn-danger"  asp-action="Delete"  asp-route-id="@item.Id">@StringCommon.sc006_Delete</a>
                        </div>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
